.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  width: 40%;
}
.product-name {
  background-color: #ffcc29;
  color: #fff;
  padding: 10px;
  display: inline-block;
  margin: 0;
  font-size: 3em;
  font-weight: 800;
}
.product-info {
  flex: 1;
  padding: 20px;
}

.product-title {
  max-width: fit-content;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.shipping-link {
  color: red;
}

.size-quantity-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.size-selector,
.quantity-selector,
.add-to-cart-button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.size-selector,
.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quantity-selector label,
.size-selector label {
  font-size: 19px;
  font-weight: 700;
  color: black;
}
.add-to-cart-button {
  background-color: red;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.full-details-link {
  margin-top: 10px;
}
